Display.Monitor=0
Display.ZoomFactor=0
Forms.FadeOut=0
Forms.FullScreen=0
Forms.Opaque=0
Forms.ShowDefaultCursor=1
Game.AlwaysRegainControlOnMouseClick=1
Game.CheatKeyToSolveLevel=0
Game.ColorizeLemmings=0
Game.FullCPU=0
Game.GradientBridges=1
Game.HighlightedPauseButton=0
Game.HighResolutionGameMessages=1
Game.ShowFeedbackMessages=1
Game.ShowParticles=1
Game.ShowPhotoFlashReplayEffect=0
Game.ShowReplayCursor=1
Game.ShowReplayMessages=1
Game.ShowReplayTextInToolBar=1
Game.SkillAssignmentsEnabledWhenPaused=0
Game.SkillButtonsEnabledWhenPaused=1
Mechanics.NukeGlitch=0
Mechanics.PauseGlitch=0
Mechanics.RighClickGlitch=0
Misc.AdjustLogoInMenuScreen=1
Misc.AlwaysOverwriteReplayFiles=1
Misc.AutoSaveReplayFiles=0
Misc.CheatCodesInLevelCodeScreen=0
Misc.CheatScrollingInPreviewScreen=0
Misc.FullCPU=0
Misc.KeepLevelRatioInPreviewScreen=0
Misc.LemmingsPercentages=1
Misc.MessageAfterSaveInResultScreen=1
Misc.RepairCustomLevelErrors=1
Misc.ShuffledMusic=0
Misc.UpdateReplayCacheWhenSaving=1
Misc.Voice=1
Mod=TestPlaceholder
Sounds.Music=0
Sounds.Sound=1
Style=Orig
Voice.BinLevelSaved=1
Voice.BinLevelSavingOff=1
Voice.BinLevelSavingOn=1
Voice.Cheater=1
Voice.CurrentSection=1
Voice.CurrentStyle=1
Voice.GameSaved=1
Voice.ReplayFail=1
Voice.SoundFX=1
Voice.StartReplay=1
Voice.VoiceDisable=1
Voice.VoiceEnable=1
